<h1>Match: <%= match.id %> </h1>
<h2>Fecha: <%= match.date %></h2>
<form action="<%= deleteMatchUrl %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Borrar" />
</form>
<form action="<%= indexUrl %>" method="get">
  <div>
    <input type="submit" value="Volver" />
  </div>
</form>
