export DB_USERNAME=sportfinder
export DB_PASSWORD=sportfinderdb
export GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDCTQtImXTa/Mmg
6zghvnmPohAzKrA6GN55j6F00oGhEntCwlD+kxJV5GHv1pbuXLOXOK/m8onYk6H5
hURP/RPc5KjGWTpSfpsQ1i+Nc7KW1vEugJ/hYt3EN76o0uL4DotctWTS4539mnY6
iwwPtKVqGgzLQfrAh8deOx7qP2ByaeoNvBECETNEUGiA3a1z7j09QBGWPwCgsOxD
zCkHqgIIzR5h1aL79cw52KZZkVgBcpmDZMKzBF7bg/3LGKD/FBcyKypWM7UkGhKP
Lk8TcPN4pfFdOQGMgclfpPK1hQs4eeqfYyDdT7rfNzO/KveQ85RrlzG+2CMydEXA
iE6osuJDAgMBAAECggEABspF6GOZEdc6kA46mjxt1WTiNTCx3Hp43is9q4CdffXQ
hqS6pr0qvbpCDVsSdF12sl/oxclhx9jzOUmqZzN+p1mNMPObCHS2f7b8e5UByLqM
hXOCa/36yy5eZH7VnXEJQAsEf5EQOPXDx2Nm31x+fakG0pObtEx4JpdzeI5+cFyF
4/ARts0KJJzMbpN78GaTOHeSk6zjS095Q7qtrYEJH+hGaJshC1WVMTkKdUEXuGWX
cmC7j/enq0sju0dyCpw4oTlmHptAMSEEDRQ4rH6kX2TfkHj2Iy1VC6zcuOxs0WYw
Zshch+KIV3+XdSYE7J5p4lKif54SdrDZ33CSgnztAQKBgQDf+hfpYtov4YXn/PkV
b6WTKbr/jbdURN6eS3IvpLuKmsCQAkk6c9XgBl+WADKHf+O0OiBuRXjQG8ubFN2o
6/LJ/0yvM55ZGEvRlSK5p5vR/0zR0qeW6kS73zP6ToehGR6j/CuRe/Rvds9vlx0i
5TEZfdRr+RmYDsa0xkXhPxYlFwKBgQDeFMN1i20SRmwcHTIb7QJBbszn5dfiX1gu
L9zh/SKcoDlTxIzc0sDSZwYQy49wqLFndhXON8nPUETCDunEfdz6tK+sD4YqHpOt
xcRs+VJ6mozZMft43Jz2x0EFjVAP7C2Y/O+nHP2BN3yT2aU7VpBxphofMoTTa93K
bhseoqY/tQKBgQDd80eez4bHzASWT+nFhE3f94qHlDgIGfdBhiIxdF0kjRYlnx5R
/lgDGE3Ap5FrFSDgiHl6zP1bvS+XDqZZrvd5lLS5Kb3RLHJ1zgQLVjzjbMsDYm0Q
8DYMtrMbaJae3fWvK0VBdkRT8Li/LFCDM/vj9v15we/K71mZ6qF1BL89IQKBgH7P
QGToPlnHGIhdK3XCuhz+1cY8+i7q3oFRF0F7t73Tx6hLfVvChBQge9gvRDLCQLqh
NQZR2MymOvzMYzOt4vbNIdqP6r42Q4Fggi7vlucnRPHoln2HC6HmWPyAmozdAZRw
KbA035RfSKVsC+t8HHKotBXIVQwcdcLXaGjv2xpZAoGACrG6HIzhETP8RgWOQdIx
7Ma2T/S8wK6/nogJgDRdbkREokYU2zupepGGav9FeNqGdJNuP729x4aTkXvmOGup
G7UzI3eDdI/33R3n6DHukhrog893kD+Yw9IYokdCLY1pSgDItnvH5Kz3eyej/Yrj
6Hw28NRjtmLxwPSmo4yqzm4=
-----END PRIVATE KEY-----"
export GOOGLE_CLIENT_EMAIL=agmardones-uc-cl@sportfinder-181903.iam.gserviceaccount.com
