<div>
  <div>
    <h1>Sports</h1>
  </div>
  <div>
    <ul>
      <% sports.forEach((sport) => { %>
        <li><a href="<%= sportUrl(sport) %>"><%= sport.name %></a></li>
      <% }) %>
    </ul>
  </div>
  <% if (isAdmin) { %>
    <div>
      <a href="<%= newSportUrl %>"> Agregar deporte </a>
    </div>
  <% } %>
</div>
