<h1>Creando un Sport</h1>

<h2>Nuevo Sport:</h2>
<div>
  <% if (locals.errors) { %>
    <div class="errors">
      Necesitas arreglar los siguiente errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= createSportPath %>" method="post">
    <div>
      <label for="name">Nombre</label>
      <input type="text" name="name" value="<%= sport.name %>" />
    </div>
      <input type="submit" name="create" value="Crear club" />
    </div>
  </form>
</div>
