<h1>Bienvenido a la página de <%= sport.name %> </h1>
<a href="<%= editSportPath %> ">Editar</a>
<form action="<%= deleteSportPath %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" name="delete" value="Borrar" />
</form>
<form action="<%= indexUrl %>" method="get">
  <input type="submit" value="Volver" />
</form>
