<header>
  <div id="logo">
    <img src="/assets/logo.png" alt="Logo" />
  </div>
  <nav>
    <a href="/play">Jugar</a>
    <a href="/sports">Deportes</a>
    <a href="/clubs">Clubes</a>
    <a href="/teams">Equipos</a>
    <% if (locals.currentUser && currentUser.isAdmin()) { %>
      <a href="/admin/users">Usuarios</a>
    <% } %>
  </nav>
  <div id="user-bar">
    <% if (locals.currentUser) { %>
      <a href="/profile"><%= currentUser.username %></a>
      <a href="/logout">Logout</a>
    <% } %>
  </div>
</header>
