$sportfinder-blue: #466BBB;

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  padding-top: 100px;
}

header {
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  background-color: black;
}

#logo {
  display: inline-block;
  vertical-align: middle;
  img {
    height: 60px;
  }
}

nav {
  vertical-align: middle;
  display: inline-block;
  a {
    display: block;
    float: left;
    padding: 20px;
    color: white;
    text-decoration: none;
    &:hover {
      color: #2BBEFF;
    }
    &:last-child {
      border: none;
    }
  }
}

#user-bar {
  @extend nav;
  float: right;
  div.separator-bar {
    display: inline-block;
    color: white;
  }
}

#container {
  margin: auto;
  width: 60%;
  border: 3px solid $sportfinder-blue;
  border-radius: 4px;
  padding: 10px;
}
